#######
# MID PROJECT LangChain released v1.0 which created a lot of requirements confilts.
# Additional requiremnts confusion: while working with local models for some reason torch needed a older version of numpy etc...
# To avoid conflicts, confusion and unending pip dependency loop, IT IS ADVISED not to run "pip3 install -r requirements.txt". Better to install requirements in jupyter notebokes using "! pip3 <package-1> ... <package-n>" one by one
#######

ipykernel
ipywidgets

python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-openai
langchain-aws
langchain-classic
langchain-ollama

transformers
sentence-transformers
torch
tiktoken

beautifulsoup4

chromadb
faiss-cpu

numpy<2
pandas

ollama

pydantic

pypdf

boto3

langgraph
langgraph-checkpoint-sqlite

streamlit

deepeval
